VITE_API_BASE_URL=https://localhost:7211/api
VITE_IDENTITY_PROVIDER_WEB=http://69.62.96.209:8080/
VITE_IDENTITY_PROVIDER_API=http://69.62.96.209:5080/api
VITE_OIDC_CLIENT_ID=integration-plataform-web
